:root {
  --black: #080808;
  --grey-1: #B5BDC8;
  --grey-2: #C5D2D8;
  --dark-grey: #656565;
  --light-grey: #F4F4F4;
  --white: #fff;
  --olive: #979967;
  --olive-2: #D2D3B4;
  --pink: #F0D3CA;
  --yellow: #ECDEAD;
  --yellow-2: #FFC148;
  --yellow-3: #F8D849;
  --blue-1: #C8E9F1;
  --blue-2: #528598;
  --blue-3: #C5D2D8;
  --t16: clamp(0.94rem, calc(0.91rem + 0.12vw), 1rem);
  --radius: 20px;
}

@font-face {
  font-family: "Angst";
  src:
    local("Angst"),
    url("../fonts/Angst-Normal.otf") format("opentype"),
    url("../fonts/Angst-Normal.woff") format("woff"),
    url("../fonts/Angst-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AngstSerif";
  src:
    local("AngstSerif"),
    url("../fonts/Angst-NormalSerif.otf") format("opentype"),
    url("../fonts/Angst-NormalSerif.woff") format("woff"),
    url("../fonts/Angst-NormalSerif.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Angst";
  src:
    local("Angst"),
    url("../fonts/Angst-Bold.otf") format("opentype"),
    url("../fonts/Angst-Bold.woff") format("woff"),
    url("../fonts/Angst-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "AngstSerif";
  src:
    local("AngstSerif"),
    url("../fonts/Angst-BoldSerif.otf") format("opentype"),
    url("../fonts/Angst-BoldSerif.woff") format("woff"),
    url("../fonts/Angst-BoldSerif.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "NTSomic";
  src:
    local("NTSomic"),
    url("../fonts/NTSomic-Regular.ttf") format("truetype"),
    url("../fonts/NTSomic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NTSomic";
  src:
    local("NTSomic"),
    url("../fonts/NTSomic-Medium.ttf") format("truetype"),
    url("../fonts/NTSomic-Medium.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "NTSomic";
  src:
    local("NTSomic"),
    url("../fonts/NTSomic-Bold.ttf") format("truetype"),
    url("../fonts/NTSomic-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Abel";
  src:
    local("Abel"),
    url("../fonts/Abel-Regular.ttf") format("truetype"),
    url("../fonts/Abel-Regular.woff") format("woff"),
    url("../fonts/Abel-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}


html,
body,
html,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "NTSomic", sans-serif;
  font-size: clamp(1rem, calc(0.89rem + 0.46vw), 1.25rem);
  color: var(--black);
}

body .site-main {
  font-family: 'Montserrat', sans-serif;
}

body.noscroll {
  overflow-y: hidden;
  margin-right: 15px;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Angst";
  font-weight: 400;
  font-size: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
  line-height: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
  transform: translateX(-6px);
}

@media (orientation: landscape) {
  h1 {
    font-size: clamp(3.38rem, calc(-1.17rem + 9.26vw), 5.94rem);
  }
}

h2 {
  font-family: "Angst";
  font-weight: 400;
  font-size: clamp(2.63rem, calc(-2.37rem + 7.41vw), 3.38rem);
  line-height: 100%;
}

h3 {
  font-family: "Angst";
  font-weight: 400;
  font-size: clamp(1.63rem, calc(1.02rem + 2.57vw), 3rem);
}

h4 {
  font-family: "Angst";
  font-size: clamp(1.5rem, calc(1.12rem + 1.62vw), 2.38rem);
  line-height: 120%;
  font-weight: 400;
}

h5 {
  font-family: "Abel", sans-serif;
  font-size: clamp(1.13rem, calc(0.91rem + 0.9vw), 1.63rem);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}
.site-main__title{
  text-align: center;
  padding: 128px 0 10px;
}
.signature {
  font-size: var(--t16);
}

.custom-logo-link img {
  height: 40px;
}

.nav a {
  position: relative;
}

.nav li a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--black);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.main-btn {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  padding: 14px 79px 14px 14px;
  border-radius: 6px;
  transition: all 0.3s;
}

.main-btn::after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  width: 24px;
  height: 6px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.main-btn:hover {
  background-color: var(--grey-2);
}

.block-title {
  font-family: "Angst";
  font-weight: 400;
  font-size: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
  line-height: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);

}

.white-list .format__info--dot::after {
  background-image: url(../img/icons/arrow-right-white.svg);
}
.slider-wrapper {
  position: relative;
}

@media (max-width:974px) {

  .nav {
    position: absolute;
    flex-direction: column;
    padding: 50px 20px;
    width: calc(100vw + 15px);
    height: 100vh;
    background-color: var(--light-grey);
    top: 55px;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    visibility: hidden;
  }

  .nav.open {
    display: flex;
    visibility: visible;
    transform: translateX(15px);
  }

  .nav ul {
    flex-direction: column;
  }

  .nav.open .header__btn.contact-btn {
    display: inline;
    width: max-content;
  }

  .header__wrapper .nav a {
    font-size: 20px;
  }
}

/*  ============== SWIPER ==================== */
.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: var(--white);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--black);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: clamp(0.38rem, calc(-0.37rem + 3.71vw), 1.88rem);
  bottom: -36px;
}

/* ============== HEADER ================== */
.header {
  position: absolute;
  height: 85px;
  padding: 25px 0;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 999;
}

.header__wrapper {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header__wrapper nav {
  display: flex;
  margin-left: auto;
  gap: clamp(3.38rem, calc(-3.22rem + 13.18vw), 7rem);
}

.header__wrapper nav ul {
  display: flex;
  gap: 23px;
}

.header__wrapper a {
  font-family: "NTSomic";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
  transition: all 0.3s;
}

.contact-btn {
  position: relative;
  display: inline-block;
  padding-right: 42px;
}

.contact-btn svg {
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.contact-btn:hover svg {
  right: -5px;
}

.menu-btn {
  position: relative;
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 19px;
  display: none;
  cursor: pointer;
}

.menu-btn span {
  height: 1px;
  width: 100%;
  transform: scale(1);
  background-color: var(--black);
  transition: all 0.3s ease 0s;
  will-change: transform;
}

.menu-btn::after,
.menu-btn::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--black);
  transition: all 0.3s ease 0s;
  will-change: transform;
}

.menu-btn::after {
  top: 0;
}

.menu-btn::before {
  bottom: 0;
}

.menu-btn.open span {
  transform: scale(0);
}

.menu-btn.open::after {
  transform: rotate(-45deg) translate(0, -50%);
  top: 50%;
}

.menu-btn.open::before {
  transform: rotate(45deg) translate(0, 50%);
  bottom: 50%;
}

@media (max-width:974px) {
  .header {
    position: fixed;
    padding: 8px 0;
    height: auto;
    background-color: var(--white);
  }

  body.noscroll .header {
    padding: 8px 13px 8px 0;
  }

  .menu-btn {
    display: flex;
  }
}

/* ======================= HERO ================== */
.hero {
  position: relative;
  padding: clamp(4.5rem, calc(-1.26rem + 11.72vw), 12.5rem) 0 clamp(3.13rem, calc(2.03rem + 4.68vw), 5.63rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  overflow: hidden;
}

.hero h4 {
  text-align: center;
  margin-top: 60px;
}

.hero picture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__linear {
  position: absolute;
  height: 120%;
  width: 50%;
  left: 0;
  top: -50px;
  background: linear-gradient(90deg, rgba(97, 107, 72, 1) 0%, rgba(97, 107, 72, 0.03405112044817926) 100%);
}

.hero__wrapper {
  position: relative;
  z-index: 888;
}


.hero__wrapper .hero__subtitle {
  width: 50%;
  margin-top: 20px;
}

.hero__info {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.hero__author {
  max-width: 325px;
  color: var(--yellow);
}

.hero__author--text {
  font-size: 16px;
}

.hero__author svg {
  fill: var(--yellow);
  stroke: var(--yellow);
}

.hero__author svg path {
  fill: var(--yellow);
  stroke: var(--yellow);
}

.hero__author--btn {
  font-size: 12px;
  text-transform: uppercase;
}

.hero__counts--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero__counts--item {
  padding: 0 clamp(0.5rem, calc(-7.91rem + 13.78vw), 2.69rem);
  text-align: center;
}

.hero__counts--item:first-child {
  padding-left: 0;
  border-right: 1px solid var(--white);
}

.hero__counts--item:last-child {
  padding-right: 0;
  border-left: 1px solid var(--white);
}

.hero__counts--title {
  font-family: "Angst";
}

.hero__counts--number {
  font-size: clamp(1.63rem, calc(-0.81rem + 4.95vw), 3rem);
}

.hero__counts--text {
  font-size: 26px;
}

.hero__counts--number,
.hero__counts--text {
  display: inline-block;
}

.hero__cat {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--yellow);
  margin-bottom: 20px;
}

@media (max-width:878px) {

  .hero {
    padding: 80px 0 30px;
  }

  .hero__counts--wrapper {
    flex-direction: column;
  }

  .hero__counts--item:first-child {
    position: relative;
    border-right: none;
  }

  .hero__counts--item:first-child::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 56px;
    background-color: var(--white);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__counts--item:last-child {
    position: relative;
    border-left: none;
  }

  .hero__counts--item:last-child::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 56px;
    background-color: var(--white);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__counts--item {
    padding: 20px 0;
  }
}

@media (max-width:567px) {

  .hero .main-btn,
  .coaching .main-btn,
  .about-as .main-btn {
    width: 100%;
    text-align: center;
    padding: 14px;
  }

  .about-us__link {
    margin: 0;
    width: 100% !important;
  }

  .hero .main-btn::after,
  .coaching .main-btn::after,
  .about-as .main-btn::after {
    display: none;
  }
}

@media (max-width:422px) {
  .hero__cat {
    font-size: 14px;
  }

  .hero__counts--wrapper {
    margin: 30px 0;
  }
}



/* =================== hero-sample =============*/
.hero-sample {
  padding-top: 90px;
  color: var(--black);
}
.hero-sample__title h1{
  transform: translateX(-30px);
}
.hero-sample__wrapper {
  position: relative;
  width: 100%;
  height: 620px;
  border-radius: var(--radius);
  overflow: hidden;
  padding: 20px;
  color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sample__wrapper .hero-sample__subtitle{
  font-size: clamp(1.38rem, calc(1.21rem + 0.7vw), 1.75rem);
  max-width: 530px;
  margin: 26px 0 14px;
}
.hero-sample__blur {
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: #f2f3a3;
  border-radius: 50%;
  filter: blur(100px);
  left: -15%;
  top: -20%;
}
.hero-sample__wrapper picture{
  width: 80%;
}
.hero-sample__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  object-position: bottom left;
  -o-object-position: bottom left;
  object-fit: contain !important;
}
.hero-sample .hero__author--text {
  width: 350px;
  margin: 50px auto 0;
}
.hero-sample__offer {
  position: relative;
  z-index: 2;
  margin-left: 40%;
  margin-top: 64px;
}

.hero-sample__main-title {
  font-family: 'Angst', sans-serif;
  font-size: clamp(1.63rem, calc(1.02rem + 2.57vw), 3rem);
}

.hero-sample .hero__counts--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;

}

.hero-sample .hero__counts--item:first-child::after {
  background-color: var(--black);
  visibility: hidden;
}

.hero-sample .hero__counts--item:last-child::after {
  background-color: var(--black);
  visibility: hidden;
}

.hero-sample .hero__counts--wrapper .hero__counts--item .hero__counts--subtitle {
  font-size: 16px;
  width: 214px;
}

.hero-sample .hero__counts--wrapper .hero__counts--item .hero__counts--text {
  font-size: clamp(1.63rem, calc(-0.81rem + 4.95vw), 3rem);
}

.hero-sample .hero__counts--wrapper .hero__counts--item:first-child {
  border-right: 1px solid var(--black);
}

.hero-sample .hero__counts--wrapper .hero__counts--item:last-child {
  border-left: 1px solid var(--black);
}

@media (max-width:928px) {
  .hero-sample__offer {
    /* margin-left: 0; */
    margin-top: 45px;
    /* margin-bottom: 390px; */
  }

  .hero-sample {
    padding-top: 40px;
  }

  .hero-sample__wrapper {
    height: 100%;
  }

  .hero-sample__wrapper picture {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width:682px) and (orientation: portrait) {
  .hero-sample .hero__counts--wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .hero-sample .hero__counts--item:first-child::after {
    background-color: var(--black);
    visibility: visible;
  }

  .hero-sample .hero__counts--item:last-child::after {
    background-color: var(--black);
    visibility: visible;
  }

  .hero-sample .hero__counts--wrapper .hero__counts--item:first-child {
    border-right: none;
  }

  .hero-sample .hero__counts--wrapper .hero__counts--item:last-child {
    border-left: none;
  }
}

/* =================== QUOTE ================ */
.quote {
  text-align: center;
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0;
  background-color: var(--light-grey);
}

.quote .signature {
  margin-top: 30px;
}

/* ================ INFO ====================== */
.info {
  background-color: #BCCC8A;
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0;
}

.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.info__wrapper+h4 {
  margin-top: 70px;
  text-align: center;
}

.info .main-btn {
  display: block;
  width: max-content;
  margin: 40px auto 0;
}

.info__item {
  min-width: 23.8%;
  font-size: 16px;
  height: max-content;
}
.info__list{
}
.info__list p{
  margin-bottom: 10px;
}
.info__item:first-child {
  /* width: 40.3%; */
}

.info__item img {
  object-fit: cover;
  border-radius: var(--radius);
  width: 100%;
  height: 325px;
  margin-bottom: 35px;
}

.info__item ul {
  margin-top: 20px;
}

.info__item ul li {
  position: relative;
  padding-left: 14px;
}

.info__item ul li::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 12px;
  background-color: var(--black);
}
.info.info-sample .info__item ul li {
  position: relative;
  padding-left: 44px;
}
.info.info-sample .info__item ul li::after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  width: 24px;
  height: 6px;
  left: 0;
  top: 7px;
  transform: translateY(0%);
  background-color: transparent;
}

@media (max-width:756px) {
  .info__wrapper {
    flex-direction: column;
  }

  .info__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .info__item:first-child {
    width: 100%;
  }
}

/* ================= VIDEO ===================== */

.video {
  padding: 70px 0;
}

.video__wrapper {
  position: relative;
}

.video video {
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--radius);
  z-index: 1;
}

.video__play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.video__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 52px;
}

@media (max-width:756px) {
  .video video {
    border-radius: 6px;
  }
}

/* =================== FORMAT ====================== */
.format {
  background-color: #B1C28A;
  padding: clamp(3.13rem, calc(1.75rem + 5.85vw), 6.25rem) 0 clamp(3.13rem, calc(2.03rem + 4.68vw), 5.63rem);
}

.format__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.format__info {
  width: 36%;
}

.format__info--title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.format__info h4 {
  margin-bottom: 20px;
}

.format__info p {
  margin-bottom: 30px;
}

.format__info--dot {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding-left: 44px;
  margin-bottom: 10px;
}

.format__info--dot::after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  width: 24px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.format__days {
  width: 57.6%;
}

.format__day {
  display: flex;
  width: 100%;
  margin-bottom: 1px;
}

.format__day--num,
.format__day--text {
  padding: 20px 30px;
  border-radius: var(--radius);
}

.format__day--num {
  background-color: var(--light-grey);
  width: 24%;
}

.format__day--text {
  font-size: 16px;
  background-color: var(--white);
  width: 76%;
}

@media (max-width:1059px) {
  .format__day {
    flex-direction: column;
  }

  .format__day--num {
    width: 100%;
    padding: 15px 20px;
  }

  .format__day--text {
    width: 100%;
    padding: 15px 20px;
  }
}

@media (max-width:728px) {
  .format__wrapper {
    flex-direction: column;
  }

  .format__info,
  .format__days {
    width: 100%;
  }
}

/* =================== ABOUT-US =================== */
.about-us {
  background-color: #ACC7BA;
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0 clamp(3.13rem, calc(2.03rem + 4.68vw), 5.63rem);
}

.about-us__wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us__info {
  position: relative;
  width: 38%;
  z-index: 2;
}
.about-num .about-us__info{
  padding: 46px 0 0 104px;
} 
.about-us.about-num .about-us__info--num{
  position: absolute;
  font-family: 'Angst', sans-serif;
  font-size: 294px;
  line-height: 294px;
  color: #93BAD7;
  top: -5%;
  left: 0;
  z-index: 1;
}
.about-us.about-num h2, .about-us.about-num p {
  position: relative;
  z-index: 2;
}
.about-us.about-num h4{
  margin-left: 60px;
}
.about-us__info h2 {
  margin-bottom: 30px;
}

.about-us__data {
  display: flex;
  align-items: stretch;
  width: 57.6%;
}

.about-us__data--img {
  width: 43%;
  border-radius: var(--radius);
  overflow: hidden;
  flex: 0 0 auto;
}

.about-us__data--list ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
}

.about-us__data--list ul li {
  padding: 20px 30px 26px;
  border-radius: var(--radius);
  background-color: var(--white);
  font-size: 16px;
}

.about-us__data--img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__subtitle {
  text-indent: 2em;
  margin: 73px 0 62px;
}

.about-us__link {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: 50%;
}

#site-main .about-us .about-us__link {
  width: max-content;
  margin: 0 auto !important;
}

.about-us__link--text {
  font-size: 16px;
  color: #497B64;
}

@media (max-width:1132px) {
  .about-us__link {
    margin-left: 30%;
  }
}

@media (max-width:940px) {
  .about-us__wrapper {
    flex-direction: column;
  }

  .about-us__info,
  .about-us__data {
    width: 100%;
  }
  .about-us.about-num .about-us__info--num {
    top: -10%;
  }
  .about-us__data {
    margin-top: 40px;
  }

  .about-us__data--list ul li {
    flex-grow: 1;
  }

  .about-us__link {
    margin-left: 0;
  }
}

@media (max-width:606px) {
  .about-us__link {
    flex-direction: column;
    align-items: start;
  }

  .about-us .main-btn {
    width: 100%;
    text-align: center;
    padding: 14px;
  }

  .about-us .main-btn::after {
    display: none;
  }
  .about-us.about-num h4{
    margin-left: 0px;
  }
}

@media (max-width:584px) {
  .about-us__data {
    flex-direction: column;
  }

  .about-us__data--img {
    width: 100%;
  }

}
@media (max-width:506px){
  .about-us.about-num .about-us__info--num{
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-num .about-us__info{
    padding: 50px 0 0;
  }
}
/* ==================== WANT ====================== */
.want {
  background-color: var(--light-grey);
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0 clamp(3.13rem, calc(2.85rem + 1.17vw), 3.75rem);
}

.want__wrapper {
  display: flex;
  justify-content: space-between;
}

.want__title {
  width: 38%;
  flex: 0 0 auto;
}

.want__info {
  width: 57.6%;
}

.want__info--list {
  font-size: 16px;
}

.want__info--list ul {
  columns: 2;
  column-gap: 56px;
}

.want__info--list ul li {
  position: relative;
  padding-left: 42px;
}

.want__info--list ul li::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 6px;
  top: 10px;
  left: 0;
  background-image: url(../img/icons/arrow-right.svg);
}

.want__info p {
  margin: 40px 0;
}

@media (max-width:880px) {
  .want__wrapper {
    flex-direction: column;
  }

  .want__info {
    width: 100%;
    margin-top: 30px;
  }

  @media (max-width:740px) {
    .want__info--list ul {
      columns: 1;
    }
  }
}

/* ==================== CASES ===================== */
.cases {
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0;
  background-color: var(--olive-2);
}

.cases__title {
  text-align: center;
}

.slider__wrapper {
  position: relative;
}

.cases__btns {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1260px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cases__btn {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.cases__btn:hover {
  opacity: 0.7;
}

.cases__slider {
  background-color: var(--white);
  width: 83%;
  margin: 0 auto;
  border-radius: var(--radius);
  overflow: hidden;
  margin-top: 60px;
}

.cases__slide {
  display: flex;
}

.cases__slide img {
  width: 38.7%;
  height: auto;
  object-fit: cover;
}

.cases__slide--info {
  padding: 62px 44px 44px 84px;
  width: 61.3%;
  flex: 0 0 auto;
}

.cases__slide--info p {
  margin: 15px 0;
}

.cases__slide--list {
  font-size: 16px;
}

.cases__slide--list li {
  position: relative;
  padding-left: 24px;
}

.cases__slide--list ul li::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 8px;
  top: 12px;
  background-color: var(--black);
}

.analysis {
  margin-top: 57px;
  display: flex;
  gap: 30px;
}

.analysis__item {
  display: flex;
  gap: 20px;
}

.analysis__icon img {
  width: 40px;
  height: 40px;
}

@media (max-width:967px) {
  .slider-wrapper {
    padding-bottom: 70px;
  }

  .cases__slide {
    flex-direction: column;
  }

  .cases__slide .cases__slide--info {
    width: 100%;
  }

  .cases__slide--analysis.analysis {
    flex-direction: column;
  }

  .analysis__icon {
    flex: 0 0 auto;
  }

  .cases__slide img:not(.analysis__icon img) {
    display: block;
    object-position: top;
    width: 100%;
    aspect-ratio: 16/12;
  }

  .cases__btns {
    width: 83%;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
}

@media (max-width:714px) {
  .cases__slider {
    width: 100%;
  }

  .cases__slide--info {
    padding: 30px 20px 20px;
  }

  .cases__slide--analysis.analysis {
    margin-top: 30px;
  }

  .cases__btns {
    width: 100%;
  }
}

/* ==================== EXIT ====================== */
.exit.hero {
  padding: 70px 0;
}

.exit .hero__cat {
  color: var(--white);
  max-width: 378px;
}

.exit h2 {
  margin: 14px 0 40px;
}

.exit p {
  margin-bottom: 10px;
}

.exit__list {
  margin-bottom: 30px;
}

.exit .hero__author--text {
  margin: 20px 0 40px;
}

/*===================== ACCENT ==================== */
.accent {
  font-family: 'Montserrat', sans-serif;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 110%;
}

.accent__wrapper {
  margin-left: 40%;
}

.accent__wrapper .hero__author--text {
  max-width: 420px;
  margin-left: 15%;
  margin-top: 25px;
}

.accent__qoute {
  margin-top: 32px;
  position: relative;
  padding-top: 44px;
  padding-bottom: 40px;
  padding-right: 70px;
  font-size: clamp(1.38rem, calc(1.21rem + 0.7vw), 1.75rem);
}

.accent__qoute p {
  text-indent: 4em;
}

.accent__qoute .hero__author--text {
  position: absolute;
  bottom: 0;
  right: 40px;
  margin: 0;
}

.accent__qoute::after {
  position: absolute;
  content: '';
  width: 28.14px;
  height: 20.58px;
  background-image: url(../img/icons/quote.svg);
  top: 0;
  left: 105px;
}

.accent__qoute::before {
  position: absolute;
  content: '';
  width: 28.14px;
  height: 20.58px;
  background-image: url(../img/icons/quote.svg);
  bottom: 20px;
  left: 105px;
}

@media (max-width:1158px) {
  .accent {
    background-size: auto 100%;
    background-position: -40px 62px;
  }
}

@media (max-width:996px) {
  .accent {
    padding-bottom: 100%;
    background-size: 60%;
    background-position: bottom center;
  }

  .accent__wrapper {
    margin-left: 0%;
  }

  .accent__qoute p {
    text-indent: 3em;
  }
}

@media (max-width:640px) {
  .accent__qoute {
    padding-right: 0;
  }
}

/* ==================== COACHING ================== */
.coaching {
  padding: clamp(3.13rem, calc(2.58rem + 2.34vw), 4.38rem) 0;
}

.coaching__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.coaching__wrapper .hero__cat {
  max-width: 210px;
}

.coaching__title {
  font-family: "Angst";
  font-weight: 400;
  font-size: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
  line-height: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
  transform: translateX(-6px);
}

.coaching__wrapper .hero__author--text {
  margin: 30px 0 40px;
}

.coaching__wrapper .hero__cat {
  color: var(--black);
}

.coaching__cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1px;
  margin-top: 60px;
}

.coaching__card {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 120px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.coaching__card img {
  max-width: 87px;
}
/* ==================== PAST ====================== */
.past{
  padding: clamp(3.13rem, calc(1.75rem + 5.85vw), 6.25rem) 0;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}
.past .hero__cat {
  color: var(--black);
  max-width: 175px;
  font-weight: 600;
}
.past p {
  max-width: 675px;
}
.past .hero__author--text{
  margin: 30px 0 0 10%;
  max-width: 358px;
}
@media screen {
  
}
/* ==================== FOOTER ==================== */

.footer {
  padding: 72px 0 18px;
  width: 100%;
}

.footer a img {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

.footer__wrapper {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--black);
}

.footer__sicials ul {
  display: flex;
  gap: 30px;
}

.footer__sicials ul li a {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 42px;
}

.footer__sicials ul li a::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icons/arrow-right.svg);
  transition: all 0.3s;
}

.footer__sicials ul li a:hover::after {
  right: -5px;
}

.footer__links {
  font-size: 12px;
  display: flex;
  justify-content: start;
  gap: 28px;
  margin-top: 10px;
}

@media (max-width:1016px) {
  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__sicials ul {
    margin-bottom: 30px;
  }
}

@media (max-width:640px) {
  .footer__wrapper {
    padding-bottom: 20px;
  }

  .footer__sicials ul {
    flex-direction: column;
    gap: 10px;
  }

  .footer__copy {
    font-size: 14px;
  }
}


@media (orientation: portrait) {
  .container {
    padding: 0 20px;
  }

  .hero,
  .hero.exit {
    padding-top: 80px;
    padding-bottom: 100%;
  }

  .hero.hero-sample {
    padding-bottom: 40px;
  }

  .hero picture source {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hero picture {
    top: auto;
    bottom: 0;
    height: auto;
  }

  .hero__info,
  .hero__wrapper .hero__subtitle {
    width: 100%;
  }

  .hero__author {
    text-align: right;
    width: 80%;
    margin-left: auto;
  }

  .footer a source img {
    display: block;
    width: 100%;
  }
}

@media(max-width:960px) and (orientation: portrait) {
  .hero.hero-sample picture {
    top: 30% !important;
    /* top: 0; */
    bottom: 0;
  }

  .hero-sample__blur {
    top: 20%;
  }

  .hero-sample__wrapper {
    padding-bottom: 100%;
  }

  .hero-sample__offer {
    margin-left: 0;
  }
  .hero-sample__title h1{
    transform: translateX(-6px);
  }
  .coaching__wrapper {
    flex-direction: column;
  }

  .coaching__cards {
    display: block;
  }

  .coaching__card {
    margin-bottom: 1px;
  }

  .coaching__card h5 {
    max-width: 245px;
  }
}

@media (min-width: 1440px) {
  .exit {
    padding: 180px 0 !important;
  }
}