:root{
    --black: #080808;
    --grey-1: #B5BDC8; 
    --grey-2: #C5D2D8; 
    --dark-grey: #656565;
    --light-grey: #F4F4F4;
    --white: #fff;
    --olive: #979967;
    --olive-2: #D2D3B4;
    --pink: #F0D3CA;
    --yellow: #ECDEAD;
    --yellow-2: #FFC148;
    --yellow-3: #F8D849;
    --blue-1: #C8E9F1;
    --blue-2: #528598;
    --blue-3: #C5D2D8;
    --t16: clamp(0.94rem, calc(0.91rem + 0.12vw), 1rem);
}
@font-face {
    font-family: "Angst";
    src:
      local("Angst"),
      url("../fonts/Angst-Normal.otf") format("opentype"),
      url("../fonts/Angst-Normal.woff") format("woff"),
      url("../fonts/Angst-Normal.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "AngstSerif";
    src:
      local("AngstSerif"),
      url("../fonts/Angst-NormalSerif.otf") format("opentype"),
      url("../fonts/Angst-NormalSerif.woff") format("woff"),
      url("../fonts/Angst-NormalSerif.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "Angst";
    src:
      local("Angst"),
      url("../fonts/Angst-Bold.otf") format("opentype"),
      url("../fonts/Angst-Bold.woff") format("woff"),
      url("../fonts/Angst-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: bold;
  }
  @font-face {
    font-family: "AngstSerif";
    src:
      local("AngstSerif"),
      url("../fonts/Angst-BoldSerif.otf") format("opentype"),
      url("../fonts/Angst-BoldSerif.woff") format("woff"),
      url("../fonts/Angst-BoldSerif.woff2") format("woff2");
      font-weight: 700;
      font-style: bold;
  }
  @font-face {
    font-family: "NTSomic";
    src:
      local("NTSomic"),
      url("../fonts/NTSomic-Regular.ttf") format("truetype"),
      url("../fonts/NTSomic-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "NTSomic";
    src:
      local("NTSomic"),
      url("../fonts/NTSomic-Medium.ttf") format("truetype"),
      url("../fonts/NTSomic-Medium.woff2") format("woff2");
      font-weight: 600;
  }
  @font-face {
    font-family: "NTSomic";
    src:
      local("NTSomic"),
      url("../fonts/NTSomic-Bold.ttf") format("truetype"),
      url("../fonts/NTSomic-Bold.woff2") format("woff2");
      font-weight: 700;
  }
  @font-face {
    font-family: "Abel";
    src:
      local("Abel"),
      url("../fonts/Abel-Regular.ttf") format("truetype"),
      url("../fonts/Abel-Regular.woff") format("woff"),
      url("../fonts/Abel-Regular.woff2") format("woff2");
      font-weight: 400;
  }


html, body, html, ul, li, p{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
  font-family: "NTSomic", sans-serif;
  font-size: clamp(1rem, calc(0.89rem + 0.46vw), 1.25rem);
  color: var(--black);
}
ul, li {
    list-style: none;
}
a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1{
  font-family: "Angst";
    font-weight: 400;
    font-size: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
    line-height: clamp(3.38rem, calc(2.26rem + 4.74vw), 5.94rem);
}
h4{
  font-family: "Angst";
  font-size: clamp(1.5rem, calc(1.12rem + 1.62vw), 2.38rem);
  line-height: 120%;
  font-weight: 400;
}
h5{
  font-family: "Abel", sans-serif;
  font-size: clamp(1.13rem, calc(0.91rem + 0.9vw), 1.63rem);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main{
  flex: 1 1 auto;
}
.container{
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}
.signature{
  font-size: var(--t16);
}
.nav a{
  position: relative;
}
.nav a::after{
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--black);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.nav a:hover::after{
  width: 100%;
}
.main-btn{
  position: relative;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  padding: 14px 79px 14px 14px;
  border-radius: 6px;
  transition: all 0.3s;
}
.main-btn::after{
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  width: 24px;
  height: 6px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.main-btn:hover{
  background-color: var(--grey-2);
}

/* ============== HEADER ================== */
.header{
  position: absolute;
  height: 85px;
  padding: 25px 0;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.header__wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper nav{
  margin-left: auto;
  margin-right: clamp(3.38rem, calc(-3.22rem + 13.18vw), 7rem);
}
.header__wrapper nav ul{
  display: flex;
  gap: 23px;
}
.header__wrapper a{
  font-family: "NTSomic";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
  transition: all 0.3s;
}

.contact-btn{
  position: relative;
  display: inline-block;
  padding-right: 42px;
}
.contact-btn svg{
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.contact-btn:hover svg{
  right: -5px;
}

/* ======================= HERO ================== */
.hero{
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: var(--white);
}
.hero__wrapper{
  padding-top: 120px;
}
.hero__wrapper .hero__subtitle{
  width: 50%;
  margin-top: 20px;
}
.hero__info{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.hero__author{
  max-width: 325px;
  font-size: 16px;
  color: var(--yellow);
}
.hero__author svg{
  fill: var(--yellow);
  stroke:  var(--yellow);
}
.hero__author svg path{
  fill: var(--yellow);
  stroke:  var(--yellow);
}
.hero__autho--btn{
  font-size: 12px;
  text-transform: uppercase;
}
.hero__counts--wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hero__counts--item{
  padding: 0 43px;
  text-align: center;
}
.hero__counts--item:first-child{
  padding-left: 0;
  border-right: 1px solid var(--white);
}
.hero__counts--item:last-child{
  padding-right: 0;
  border-left: 1px solid var(--white);
}
.hero__counts--title{
  font-family: "Angst";
}
.hero__counts--number{
  font-size: 48px;
}
.hero__counts--text{
  font-size: 26px;
}
.hero__counts--number, .hero__counts--text{
  display: inline-block;
}
.hero__cat{
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 20px;
}
/* =================== QUOTE ================ */
.quote{
  text-align: center;
  padding: 70px 0;
  background-color: var(--light-grey);
}
.quote .signature{
  margin-top: 30px;
}

/* ================ INFO ====================== */
.info{
  background-color: #BCCC8A;
  padding: 70px 0;
}
.info__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.info__wrapper + h4 {
  margin-top: 70px;
  text-align: center;
}
.info .main-btn{
  display: block;
  width: max-content;
  margin: 40px auto 0;
}
.info__item{
  width: 28%;
}
.info__item:first-child{
  width: 40.3%;
}

.info__item img{
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 325px;
  margin-bottom: 35px;
}
.info__item ul{
  margin-top: 20px;
}
.info__item ul li{
  position: relative;
  padding-left: 14px;
}
.info__item ul li::after{
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 12px;
  background-color: var(--black);
}
/* ================= VIDEO ===================== */

.video {
  padding: 70px 0;
}
.video__wrapper{
  position: relative;
}
.video video{
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 20px;
  z-index: 1;
}
.video__play{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.video__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 52px;
}

/* =================== FORMAT ====================== */
.format{
  background-color: #B1C28A;
  padding: 100px 0 90px;
}
.format__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.format__info{
  width: 36%;
}
.format__info--title{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.format__info h4{
  margin-bottom: 20px;
}
.format__info p{
  margin-bottom: 30px;
}
.format__info--dot{
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding-left: 44px;
  margin-bottom: 10px;
}
.format__info--dot::after{
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow-right.svg);
  width: 24px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.format__days{
  width: 57.6%;
}
.format__day{
  display: flex;
  width: 100%;
  margin-bottom: 1px;
}
.format__day--num, .format__day--text{
  padding: 20px 30px;
  border-radius: 20px;
}
.format__day--num{
  background-color: var(--light-grey);
  width: 24%;
}
.format__day--text{
  font-size: 16px;
  background-color: var(--white);
  width: 76%;
}
/* ==================== FOOTER ==================== */

.footer{
  height: 85px;
  width: 100%;
  background-color: var(--dark-grey);
}